a {
     text-decoration: none;
}

* {
     text-align: center;
}

#news {
     text-align: center;
     display: flex;
     flex-direction: column;
     flex-wrap: wrap;
     justify-content: center;
     align-items: center;
     margin: 0 auto;
}


.flex {
     display: flex;
     flex-direction: column;
}


div div{
     background-color: #f2f2f2;
     border: solid 1px black;
     border-radius: 2rem;
     margin: 1rem;
}


#news div {
     width: 30%;
     height: 30%;
     margin: 1rem;
     text-align: center;
     background-color: #f2f2f2;
     border: solid 1px black;
     border-radius: 2rem;
     margin: 1rem;
     display: flex;
     flex-direction: column;
}

#videos div{

     margin: 1rem;
     text-align: center;
     background-color: #f2f2f2;
     border: solid 1px black;
     border-radius: 2rem;
     margin: 1rem;
}





